:root {
    --wid: 15%;
    --white: white;
}

.hero-unit>h1 {
    font-size: calc(4vw + 4vh + 1vmin);
}

.logo {
    width: var(--wid);
    height: auto;
}

.play img {
    width: 100px;
    height: 100px;
    border: 2px solid var(--white);
    padding: 30px;
    border-radius: 30px;
}

.play:hover img {
    border: 4px solid red;
}

.hero-unit>h1 {
    text-transform: uppercase;
    color: var(--white);
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.8px;
    font-weight: 500;
}

.hero-unit>img {
    width: 35%;
    height: 35%;
}

.achievements-section {
    background-color: #F5F5F5;
}

.achievement-image {
    width: 150px;
    height: 150px;
}

.achievement-detail {
    font-family: 'Playfair Display', serif;
}

h3,
.description {
    color: var(--white);
    line-height: 1.5;
}

.description {
    /* font-size: calc(5vw + 3vh+ 2vmin); */
    font-size: 1.1rem;
}

.find a,
.find a:visited {
    color: var(--white);
    border: 1px solid var(--white);
}

.find>a:hover {
    background-color: var(--white);
    color: black;
}

.bginfo>.find>a:hover {
    background-color: var(--white);
    color: #17a2b8;
}

.bgwarn>.find>a:hover {
    background-color: var(--white);
    color: #ffc107;
}

.rule1 {
    width: 10%;
    float: left;
    border-top: 3px solid var(--white);
}

.boosted img {
    width: 45%;
    height: auto;
}

.boosted-logo {
    width: 15%;
    height: auto;
}

.legal img {
    border-radius: 15px;
    width: 85%;
    height: auto;
}

.hero-unit>img {
    width: 150px;
    height: 120px;
}

.hallmark img {
    width: 500px;
    height: 600px;
}

.dojo img {
    width: 350px;
    height: 500px;
}

.testimony-desc {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    line-height: 1.3;
    width: 65%;
    font-size: 1.6rem;
}

.testimony-desig {
    color: #ccc;
    font-weight: 700;
    font-size: 0.8em;
    letter-spacing: 1.2px;
    width: 85%;
}

.testimony-desig>span.black {
    color: black;
}

.testimony img {
    width: 80px;
    height: 80px;
}

.contact-us-section>h1,h3 {
    color: black;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
    font-weight: 500;
}

.footer-section {
    color: rgb(170, 165, 165);
    background-color: #111517;
}

.footer-navigations>a {
    text-transform: uppercase;
    font-size: larger;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
    font-weight: 500;
    color: #fff;
}
.footer-navigations>a:hover {
    color: orangered;
}

.branches>div>div>a {

    text-transform: uppercase;
    font-size: 60px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
    font-weight: 600;
    color: #fff;
}

.branches>div>div>a:hover {

    color: orangered;
}

.social-icons>a {
    color: rgb(170, 165, 165);
}

.email-link, .email-link:hover {
    color: #EF0D33;
}

.copyright-section>a {
    color: rgb(170, 165, 165);
}